<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cálculo de la Letra del Documento Nacional de Identidad</title>
</head>
<body>
<img src="../static/logo.png">
<br/>
<h1 align="CENTER">INSTRUCCIONES:</h1>
<br/>
<div align="CENTER">
    <h3>Introduzca en el cuadro de texto su número de D.N.I. sin identificar la letra del final</h3>
    <h3>Al pulsar en botón CALCULAR el sistema calculará automáticamente la letra correspondiente</h3>
</div>
<br/>
<div align="CENTER">
    <form method="post">
        <h2><label>DNI sin LETRA</label></h2>
        <input type="number" name="DNI"/>
        <input type="submit" value="CALCULAR"/>
    </form>
</div>
</body>
</html>